In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('adult.data.csv')

In [31]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
peoplerace = df['race'].value_counts()

In [21]:
peoplerace

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [29]:
ages = df.groupby('sex').age.mean()

In [30]:
ages

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

*****************BACHELORS PERCENTAGE*********************

In [54]:
bachelors = df.loc[df['education'] == 'Bachelors']

In [53]:
len(bachelors)

5355

In [55]:
total_value = len(df)

In [56]:
total_value

32561

In [61]:
bachelorpercentage = len(bachelors)/len(df) * 100

In [62]:
bachelorpercentage

16.44605509658794

In [64]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [77]:
Bachelors =    df.loc[(df['education'] == 'Bachelors') & (df['salary'] == '>50K')]

In [80]:
round(len(Bachelors)/len(df)*100,5)

6.82104

In [81]:
Masters =    df.loc[(df['education'] == 'Masters') & (df['salary'] == '>50K')]

In [83]:
round(len(Masters)/len(df)*100,5)

2.94524

In [84]:
Doctorate =    df.loc[(df['education'] == 'Doctorate') & (df['salary'] == '>50K')]

In [89]:
round(len(Doctorate)/len(df)*100,5)

0.93977

In [90]:
withoutadvanced = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') &(df['salary'] == '>50K')]

In [93]:
len(withoutadvanced)/len(df)

0.13374896348392248

In [94]:
df.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [96]:
minhours = df['hours-per-week'].min()
minhours

1

In [105]:
minandfifty = df.loc[(df['hours-per-week'] == minhours) & (df['salary'] == '>50K')]
lenminandfifty = len(minandfifty)
percentminandfifty = (lenminandfifty/len(df)) * 100
percentminandfifty

0.006142317496391388

In [115]:
highestearn = df.loc[(df['salary'] == '>50K')]
highestearncountry = highestearn['native-country'].value_counts().head(1)
percentagehighestearn = highestearncountry/len(df)
percentagehighestearn

United-States    0.220233
Name: native-country, dtype: float64

#Identify the most popular occupation for those who earn >50K in India.

In [120]:
popular_job_india = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
popular_job_india['occupation'].value_counts().head(1)

Prof-specialty    25
Name: occupation, dtype: int64

25